extends baseEmail

block content
  p Hi #{payload.user.name},
  p You've done a good job? You have successfully reset your password, you'll need to login again with your new password.

  p If you didn't make this request on your #{payload.appInfo.name} account, please don't hesitate to contact us!
  p - #{payload.appInfo.email}, #{payload.appInfo.name}
